<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="shehan.com.migrainetrigger">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".utility.MigraineTriggerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight.RedOnYellow"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:replace="android:theme">
        <activity
            android:name=".view.activity.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".view.activity.AddRecordActivity"
            android:label="@string/title_activity_add_record"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="shehan.com.migrainetrigger.view.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".view.activity.ViewRecordsActivity"
            android:label="@string/title_view_records"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="shehan.com.migrainetrigger.view.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".view.activity.FAQActivity"
            android:label="@string/title_faq"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="shehan.com.migrainetrigger.view.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".view.activity.ViewSingleRecordActivity"
            android:label="@string/title_view_record"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="shehan.com.migrainetrigger.view.activity.ViewRecordsActivity"/>
        </activity>
        <activity
            android:name=".view.activity.ReportActivity"
            android:label="@string/title_view_report"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="shehan.com.migrainetrigger.view.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".view.activity.ManageAnswersActivity"
            android:label="@string/title_manage_answers"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="shehan.com.migrainetrigger.view.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".view.activity.SettingsActivity"
            android:label="@string/title_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="shehan.com.migrainetrigger.view.activity.MainActivity"/>
        </activity>
    </application>

</manifest>